.boutton1
{
	width: 100px;
	border: 4px double black;
	height: 50px;
	color: black;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.boutton1:hover {
  background-color: pink;
}

body{
	background-color: aqua;
}
